output_files/
output_files*/
files/
build*/
.cache
infer-out
.vscode
tmp*
.idea
cmake-build-*
compile_commands.json
out/
deps/
vcpkg_installed/
/local_config.cmake

# tex
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.xdv
/.env
.drone.yml
.dronecache
perf.data*

*.db*
*.vtk